/* this is the styling only for Header ,footer and layout */
.header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar{
    background-color: #9f4a26 !important;
    
}

.nav-link:hover{
    color: #f0b191 !important;
}

body{
    background-color :#fee9d4d8;
}
.navbar-brand{
    color: white !important;
}

.nav-link{
    color: white !important;
}

.content{
    padding-top: 80px;
}


.footer{
background-color: #3e4042;
color: white;
text-align: center;
padding: 10px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
}

button{
    
    background-image: linear-gradient(#9f4a26,#f0b191 );
    color: black;
    border-radius: 15px;
    padding: 8px 8px;
}

button:hover{
   
    background-image: linear-gradient(#f0b191, #9f4a26);
}

.loader{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 9999;
}

.spinner-border{
    height: 100px;
    width: 100px;
}

#uncontrolled-tab-example-tab-home{
    color: black !important;
}
.nav-item button{
    color: black !important;
}

.nav-tabs{
    background-color: cadetblue;
}

.footer{
    position: relative;
    bottom:0;
    width:100%;
    background-color: #3e4042;
}